@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@0;1&display=swap");
body, html {
  height: 100vh;
  position: relative;
  display: block;
  font-family: "Cormorant Garamond", sans-serif;
  color: #DCDCDC;
  background: #111;
  margin: 0;
  overflow: hidden;
}

a, a:visited {
  color: #eee;
  text-decoration: none;
}

.block-photo {
  position: absolute;
  z-index: 1;
  width: 50vw;
  left: 50vw;
  height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: url("../media/work.jpg") no-repeat;
  background-size: cover;
  background-position: right;
}

.block-info {
  position: absolute;
  z-index: 1;
  width: 50vw;
  height: 100vh;
}

.block-info-text {
  position: relative;
  z-index: 5;
  font-size: 24px;
  padding: 5vw;
}

@media (min-height: 600px) and (min-width: 901px) {
  .block-info-text {
    font-size: 36px;
  }
}

@media only screen and (max-height: 600px) and (max-width: 900px) {
  .block-info-text {
    padding: 5vh;
    padding-left: 5vw;
  }
}

.cication {
  text-align: left;
  padding: 3vh;
  font-size: 3vh;
  line-height: 140%;
  background-color: black;
  border-bottom: solid 5px #DCDCDC;
  border-right: solid 5px #DCDCDC;
  border-left: solid 5px #acacac;
  border-top: solid 5px #acacac;
}

@media only screen and (max-height: 600px) and (max-width: 900px) {
  .cication {
    font-size: 5vh;
  }
}

.wait {
  font-size: 3.5vh;
  text-align: right;
}

@media only screen and (max-height: 600px) and (max-width: 900px) {
  .wait {
    text-align: right;
    font-size: 5.5vh;
    padding-left: 0vh;
  }
}

.contacts {
  font-family: "Old Standard TT", serif;
  text-align: right;
  list-style-type: none;
}

@media only screen and (max-height: 600px) and (max-width: 900px) {
  .contacts {
    font-size: 4vh;
    text-align: right;
    padding: 0px;
    padding-bottom: 1vh;
    padding-right: 1vh;
    padding-left: 5vh;
  }
}

@media (min-height: 600px) and (min-width: 901px) {
  .contacts {
    padding: 10px;
    padding-top: 5vh;
    padding-left: 10vw;
    font-size: 3vh;
    bottom: 0;
  }
}

li {
  padding-top: 1.5vh;
}

@media only screen and (max-height: 600px) and (max-width: 900px) {
  li {
    padding: 2vh;
    display: inline;
    margin: 0 auto;
  }
}

.image {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -20vh;
  width: 30%;
  height: auto;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-height: 600px) and (max-width: 900px) {
  .image {
    display: none;
  }
}

#mobile {
  color: #DCDCDC;
}

#telegram {
  color: #DCDCDC;
}

.back {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3.5vh;
  text-align: left;
  color: #eee;
  padding-top: 3vh;
  padding-left: 5vw;
}

.back a, .back a:visited {
  color: #eee;
  text-decoration: none;
}

@media only screen and (max-height: 600px) and (max-width: 900px) {
  .back {
    font-size: 6vh;
    padding-left: 2vw;
  }
}
/*# sourceMappingURL=contacts.css.map */