@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&display=swap');

$dark:					#111;
$pale:					#DCDCDC;
$grey:					#acacac;
$link:						#ffe7bb;

@mixin desktop {
	@media (min-height: 600px) and (min-width: 901px) { @content; }
}

@mixin mobile {
	@media only screen and (max-height: 600px) and (max-width: 900px) { @content; }
}

body, html {
	height: 100vh;
	position: relative;
	display: block;
	font-family: "Cormorant Garamond", sans-serif;
	color: $pale;
	background: black;
	margin: 0;
	overflow: hidden;
}

a, a:visited {
    color: #eee;
	text-decoration: none;
	transition: 0.3s;
}

.block-photo {
	position: absolute;
	z-index: 1;
	width: 50vw;
	left: 50vw;
	height: 100vh;
	transition: 0.5s;
	background: url("../media/work.jpg") no-repeat;
	background-size: cover;
	background-position: right;
}

.block-info {
	position: absolute;
	z-index: 1;
	width: 50vw;
	height: 100vh;
}

.block-info-text {
	position: relative;
	z-index: 5;
	font-size: 24px;
	padding: 5vw;
	@include desktop {
		font-size: 36px;
	}
	@include mobile {
		padding: 5vh;
		padding-left: 2vw;
	}
}

.cication {
	text-align: center;
	padding: 3vh;
	font-size: 3vh;
	line-height: 140%;
	background-color: $dark;
	border-bottom: solid 5px $pale;
	border-right: solid 5px $pale;
	border-left: solid 5px $grey;
	border-top: solid 5px $grey;
	@include mobile {
		font-size: 5vh;
	}
}

.wait {
	font-size: 3.5vh;
	text-align: right;
	@include mobile {
		text-align: right;
		font-size: 5vh;
		padding-left: 0vh;
	}
}



.contacts {

	display: block;
	position: absolute;

	bottom: 5vh;
	right: 10vh;
	text-align: right;

	a {
		box-sizing: border-box;
		color: lightskyblue;
		padding: 10px;
	}

	list-style-type: none;

	@include mobile {
		font-size: 5vh;
		text-align: right;
		padding: 0px;
	}
	@include desktop {
		padding: 10px;
		padding-top: 5vh;
		padding-left: 10vw;
		font-size: 2.5vh;
	}
}


.image {
	position: absolute;
	z-index: -1;
	left: -20vh;
	bottom: -20vh;
	width: 70vh;
	height: auto;
	transform: rotate(210deg);
	user-select: none;
	animation: chrome 15s linear infinite;
	@include mobile {
		width: 70vh;
	}
}

@keyframes chrome {
	0% 	{ filter: sepia(80%) hue-rotate(0deg) brightness(10%); }
	50% { filter: sepia(80%) hue-rotate(359deg) brightness(25%); }
	100% { filter: sepia(80%) hue-rotate(0deg) brightness(10%); }
}

#mobile:hover {
	color: $link;
	transition: 0.3s;
}

#email:hover {
	color: $link;
	transition: 0.3s;
}

.back {
	font-family: 'Cormorant Garamond', serif;
	font-size: 3.5vh;
	text-align: left;
	color: $link;
	padding-top: 3vh;
	padding-left: 5vw;
	a, a:visited {
		color: #eee;
	  text-decoration: none;
	}
	a:hover {
		color: $link;
	}
	@include mobile {
		font-size: 6vh;
		padding-left: 2vw;
	}
  }