@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

$camblue :				#293bff;
$lightblue :			#535fe6;
$oragne :				#ff9029;
$yellow :				#fffb29;
$violet :				#f429ff;
$dark:					#111;
$pale:					#DCDCDC;

@mixin tablet {
	@media (min-width: 740px) { @content; }
}

@mixin desktop {
	@media (min-width: 1280px) { @content; }
}

@mixin widescreen {
	@media (min-width: 1920px) { @content; }
}


body, html {
	height: 100vh;
	position: relative;
	display: block;
	font-family: "Cormorant Garamond", sans-serif;
	color: $pale;
	background: $dark;
	margin: 0;
}

a, a:visited {
    color: #eee;
    text-decoration: none;
  }

// FRONT

.block-i-text {
	position: absolute;
	z-index: 10;
	font-size: 6vh;
	text-align: left;
	left: 98%;
	top: 5vw;
	@include desktop {
		font-size: 6vh;
	}
}

.block-pate {
	position: absolute;
	z-index: 1;
	width: 50vw;
	height: 100vh;
	transition: 0.5s;
}

.block-pate:before {
	position: absolute;
	z-index: 1;
	width: 50vw;
	height: 100vh;
	background: url("../media/front-pate-back.jpg") no-repeat;
	background-size: cover;
	background-position: right;
	filter: brightness(30%);
	transition: 0.5s;
	content: "";
}

.block-pate:hover:before {
	filter: brightness(60%);
	cursor: pointer;
}


.block-pate-text {
	position: relative;
	z-index: 5;
	font-size: 6vh;
	text-align: center;
	padding: 5vw;
	@include desktop {
		font-size: 6vh;
	}
}

.block-pate img {
	z-index: 6;
	position: relative;
	padding: 7.5vh;
	width: 30vh;
	height: auto;
	filter: brightness(40%);
	transition: 0.5s;
}

.block-pate img:hover {
	filter: brightness(100%);
	transition: 0.5s;
	cursor: pointer;
}

.block-pate-grad {
	z-index: 5;
	position: absolute;
	top: 27.5vh;
	left: 12vw;
	width: 45vh;
	height: auto;
	animation-play-state: paused;
	animation: pulse 1s linear infinite;
	transition: 1s;
}

.block-pate-grad:hover {
	transition: 1s;
}

@keyframes pulse {
	0% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 30%,  rgba(0, 0, 0, 0) 55%); }
	15% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 31%,  rgba(0, 0, 0, 0) 57%); }
	30% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 32%,  rgba(0, 0, 0, 0) 60%); }
	45% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 33%,  rgba(0, 0, 0, 0) 65%); }
	60% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 33%,  rgba(0, 0, 0, 0) 65%); }
	75% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 32%,  rgba(0, 0, 0, 0) 60%); }
	90% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 31%,  rgba(0, 0, 0, 0) 57%); }
	100% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 30%,  rgba(0, 0, 0, 0) 55%); }
}

.block-voteto {
	position: absolute;
	z-index: 1;
	left: 50vw;
	width: 50vw;
	height: 100vh;
	transition: 0.5s;
}

.block-voteto:hover {
	z-index: 1;
	cursor: pointer;
	filter: brightness(110%);
	transition: 0.5s;
}

.block-voteto img {
	z-index: 5;
	position: absolute;
	top: 35vh;
	left: 13vw;
	width: 50vh;
	height: auto;
	filter: sepia(55%);
	transition: 0.5s;
}

#duck {
	top: 28vh;
	left: 18vw;
	width: 20vh;
}

#horse {
	animation: shake 0.3s linear infinite;
	animation-play-state: paused;
}

#duck {
	animation: shake 0.25s linear infinite alternate-reverse;
	animation-play-state: paused;
}

@keyframes shake {
	0% { transform: rotate(-5deg); }
	50% { transform: rotate(5deg); }
	100% { transform: rotate(-5deg); }

}

@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }

}

.block-voteto-text {
	position: relative;
	z-index: 5;
	font-size: 6vh;
	text-align: center;
	padding: 5vw;
	@include desktop {
		font-size: 6vh;
	}
}

// PATE GALLERY

// VOTETO GALLERY