@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

$camblue :				#293bff;
$lightblue :			#535fe6;
$oragne :				#ff9029;
$yellow :				#fffb29;
$violet :				#f429ff;
$dark:					#111;
$pale:					#eee;

@mixin touch {
	@media (hover: none) { @content; }
}

@mixin tablet {
	@media only screen and (min-height: 600px) and (max-width: 1120px) { @content; }
}

@mixin desktop {
	@media (min-height: 700px) { @content; }
}

body, html {
	height: 100vh;
	position: relative;
	display: block;
	font-family: "Cormorant Garamond", sans-serif;
	color: $pale;
	background: black;
	margin: 0;
	overflow: hidden;
}

a, a:visited {
    color: #eee;
    text-decoration: none;
  }

// FRONT

.block-i-text {
	position: absolute;
	z-index: 10;
	font-size: 6vh;
	text-align: left;
	left: 98%;
	top: 5vw;
	@include desktop {
		font-size: 6vh;
	}
}

.block-pate {
	position: absolute;
	z-index: 1;
	width: 50vw;
	height: 100vh;
	transition: 0.5s;
}

.block-pate:before {
	position: absolute;
	z-index: 1;
	width: 50vw;
	height: 100vh;
	background: url("../media/front-pate-back.jpg") no-repeat;
	background-size: cover;
	background-position: right;
	filter: brightness(30%);
	transition: 0.5s;
	content: "";
	@include touch {
		filter: brightness(60%);
	}
}

.block-pate:hover:before {
	filter: brightness(60%);
	cursor: pointer;
}


.block-pate-text {
	position: relative;
	z-index: 5;
	font-size: 6vh;
	text-align: center;
	padding: 5vw;
	@include desktop {
		font-size: 6vh;
	}
}

.block-pate img {
	z-index: 6;
	position: relative;
	padding: 7.5vh;
	width: 30vh;
	height: auto;
	filter: brightness(40%);
	transition: 0.5s;
	@include touch {
		filter: brightness(80%);
	}
}

.block-pate img:hover {
	filter: brightness(100%);
	transition: 0.5s;
	cursor: pointer;
}

.block-pate-grad {
	z-index: 5;
	position: absolute;
	top: 27.5vh;
	left: 12vmax;
	width: 45vh;
	height: auto;
	animation-play-state: paused;
	animation: pulse 1s linear infinite;
	transition: 1s;
	@include tablet {
	 	left: 9vh;
	}
	@include touch {
		animation-play-state: running;
	}
}

.block-pate-grad:hover {
	transition: 1s;
}

@keyframes pulse {
	0% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 30%,  rgba(0, 0, 0, 0) 55%); }
	15% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 31%,  rgba(0, 0, 0, 0) 57%); }
	30% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 32%,  rgba(0, 0, 0, 0) 60%); }
	45% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 33%,  rgba(0, 0, 0, 0) 65%); }
	60% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 33%,  rgba(0, 0, 0, 0) 65%); }
	75% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 32%,  rgba(0, 0, 0, 0) 60%); }
	90% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 31%,  rgba(0, 0, 0, 0) 57%); }
	100% { background: radial-gradient(35vh 38vh, rgba(255, 255, 255, 0.9) 30%,  rgba(0, 0, 0, 0) 55%); }
}

.block-voteto {
	position: absolute;
	z-index: 1;
	left: 50vw;
	width: 50vw;
	height: 100vh;
	transition: 0.5s;
}

.block-voteto:hover {
	z-index: 1;
	cursor: pointer;
	filter: sepia(80%);
	transition: 0.5s;
}

#duck {
	z-index: 5;
	position: absolute;
	top: 28vh;
	left: 18vw;
	width: 20vh;
	height: auto;
	animation: shake 0.25s linear infinite alternate-reverse;
	animation-play-state: paused;
	filter: sepia(60%);
	@include tablet {
		left: 30%;
	}
}

#horse {
	z-index: 5;
	position: absolute;
	top: 35vh;
	left: 13vw;
	width: 50vh;
	height: auto;
	animation: shake 0.3s linear infinite;
	animation-play-state: paused;
	filter: sepia(60%);
	@include tablet {
		left: 15%;
	}
}

#octopus {
	z-index: 5;
	position: absolute;
	top: -15vh;
	right: -18vh;
	width: 50vh;
	height: auto;
	filter: sepia(60%) brightness(60%);
	transform: rotate(30deg);
	animation: shakeo 0.3s linear infinite;
	animation-play-state: paused;
	@include tablet {
		right: -25vh;
	}
}

#secret1 {
	z-index: 0;
	position: absolute;
	top: 58vh;
	right: 24vw;
	width: 10vh;
	height: auto;
	filter: sepia(60%) brightness(60%);
	display: none;
	@include tablet {
		right: -25vh;
	}
}

#secret2 {
	z-index: -1;
	position: absolute;
	top: 10vh;
	right: -20vw;
	width: 50vh;
	height: auto;
	transform: rotate(10deg);
	filter: sepia(60%) brightness(60%);
	animation: secret2 3s linear infinite;
	animation-play-state: paused;
	filter: sepia(60%) brightness(60%);
	display: none;
	@include tablet {
		right: -25vh;
	}
}

#secret_cover {
    display: none;
    z-index: 999;
    background: black;
    /* background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF; */
    position: fixed;
    height: 100vh;
	width: 100vw;
}

#question {
	position: relative;
	z-index: 999;
	font-size: 10vmin;
	top: 33vh;
	text-align: center;
}

#yes {
	cursor: pointer;
	margin-top: 5vh;
	font-size: 5vmin;
	padding: 1vmin;
	width: 15vmin;
	color: white;
	background-color: red;
	border-right: solid 2px green;
	border-left: solid 2px green;
	border-radius: 10px;
}

#yes:hover {
	background-color: rgb(255, 70, 70);
}

#no {
	@extend #yes;
	background-color: blue;
}

#no:hover {
	background-color: rgb(69, 66, 255);
}
@keyframes shake {
	0% { transform: rotate(-5deg); }
	50% { transform: rotate(5deg); }
	100% { transform: rotate(-5deg); }
}

@keyframes shakeo {
	0% { transform: rotate(35deg); }
	50% { transform: rotate(30deg); }
	100% { transform: rotate(35deg); }
}

@keyframes secret2 {
	4% { top: 10vh; right: -20vw; }
	8% { top: 11vh; right: -16vw; }
	12% { top: 12vh; right: -12vw; }
	16% { top: 14vh; right: -8vw; }
	20% { top: 16vh; right: -6vw; }
	24% { top: 18vh; right: -4vw; }
	28% { top: 20vh; right: -2vw; }
	32% { top: 22vh; right: 0vw; }
	
	36% { top: 24vh; right:  0vw; }
	40% { top: 25vh; right:  0vw; }
	44% { top: 24vh;  right: 0vw; }
	48% { top: 25vh; right:  0vw; }
	52% {  top: 24vh;  right: 0vw; }
	56% { top: 25vh; right:  0vw; }
	60% {  top: 24vh;  right: 0vw; }
	64% { top: 25vh; right:  0vw; }
	68% {  top: 24vh;  right: 0vw; }

	72% { top: 22vh; right: 0vw; }
	76% { top: 20vh; right: -2vw; }
	80% { top: 18vh; right: -4vw; }
	84% { top: 16vh; right: -6vw; }
	88% { top: 14vh; right: -8vw; }
	92% { top: 12vh; right: -12vw; }
	96% { top: 11vh; right: -16vw; }
	100% { top: 10vh; right: -20vw; }
}

@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }
}

.block-voteto-text {
	position: relative;
	z-index: 6;
	font-size: 6vh;
	text-align: center;
	padding: 5vw;
	@include desktop {
		font-size: 6vh;
	}
}
