@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

@mixin desktop {
	@media (min-width: 1200px) { @content; }
}

@mixin desktop-11 {
	@media (max-width: 1100px) { @content; }
}

html,body {
  height: 100vh;
  width:  100vw;
  
}

body {
	position: relative;
	background: #000;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto 62.5vw auto;
}

.gallery {
  position: relative;
	display: grid;
  grid-column: 2;
  margin: 0 auto;
  height: 100vh;
  width: 62.5vw;
  display: none;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7 {
  .image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 40vh;
    max-height: 70vh;
    user-select: none;   
  }
}

#img7 {
  .image {
    top: 0;
    left: 5vw;
    width: 80%;
  }
}

.sepia {
  filter: sepia(100%);
}

#duck01 {
  position: absolute;
  z-index: -1;
  width: 20vw;
  right: 5vw;
  bottom: 35vh;
}

#duck02 {
  position: absolute;
  z-index: -1;
  width: 20vw;
  left: 5vw;
  bottom: 32vh;
  transform: rotate(160deg);
}

#duck03 {
  position: absolute;
  z-index: -1;
  width: 20vw;
  left: 5vw;
  transform: scaleX(-1);
  bottom: 35vh;
}

#duck04 {
  position: absolute;
  z-index: -1;
  width: 20vw;
  right: 5vw;
  bottom: 32vh;
  transform: scaleX(-1) rotate(160deg);
}

#salmon01 {
  position: absolute;
  z-index: -1;
  width: 50vw;
  left: 0vw;
  bottom: 15vw;
  transform: scaleX(-1) rotate(-45deg);
}

#salmon02 {
  position: absolute;
  z-index: -1;
  width: 40vw;
  right: 0vw;
  bottom: 20vw;
  transform: scaleX(-1) rotate(45deg);
}

#jerks01 {
  position: absolute;
  z-index: -1;
  width: 30vw;
  left: 5vw;
  bottom: 20vh;
}

#quail01 {
  position: absolute;
  z-index: -1;
  width: 25vw;
  right: 0vw;
  bottom: 38vh;
  transform: scaleX(-1) rotate(-10deg);
  filter: blur(1px) sepia(80%);
  @include desktop {
		bottom: 48vh;
	}
}

#quail02 {
  position: absolute;
  z-index: -1;
  width: 20vw;
  right: 9vw;
  bottom: 39vh;
  filter: blur(0.1px) sepia(80%);
  @include desktop {
		bottom: 49vh;
	}
}

#prawn01 {
  position: absolute;
  z-index: -1;
  width: 25vw;
  left: -1vw;
  bottom: 30vh;
  transform: rotate(20deg);
  @include desktop-11 {
		bottom: 25vh;
	}
}

#fedya01 {
  position: absolute;
  z-index: -1;
  width: 8vw;
  right: 15vw;
  bottom: 15vh;
  transform: rotate(0deg);

}

#fedya02 {
  position: absolute;
  z-index: -1;
  width: 15vw;
  left: 10vw;
  bottom: 7vh;
  transform: scaleX(-1) rotate(-5deg);

}

.text-vert, .text-vert-small, .text-bottom {
	margin-top: 3vh;
	font-family: 'Cormorant Garamond', serif;
	font-size: 5vh;
	text-align: center;
	color: #eee;
}

.text-vert-small {
	margin-top: 0vh;
	font-size: 3.5vh;
}

.text-bottom {
	margin-top: 65vh;
}
 
div#button1 {
  position:absolute;
  width: 200px;
  height: 150px;
 /*  background: rgba(255, 255, 255, 0.2); */
  img {
    position: absolute;
    filter: sepia(50%);
    width: 15vh;
    margin-right: 1vw;
    margin-left:  2vw;
  }
  top: 50%;
  left: 0;
  transition: 1s;
  cursor: pointer;
  user-select: none;
}

div#button2 {
  position:absolute;
  width: 200px;
  height: 150px;
  /* background: rgba(255, 255, 255, 0.2); */
  img {
    position: absolute;
    filter: sepia(50%);
    width: 15vh;
    margin-right:2vw;
    margin-left: 1vw;
    right: 0;
  }
  top: 50%; 
  right: 0;
  transition: 1s;
  cursor: pointer;
  user-select: none;
}

div#button1:hover,div#button2:hover {
   margin: 0 2vw;
   transition: 1s;
}

.back {
  grid-column: 1;
	font-family: 'Cormorant Garamond', serif;
	font-size: 3.5vh;
	text-align: left;
  color: #eee;
  padding-top: 3vh;
  padding-left: 5vw;
  a, a:visited {
    color: #eee;
    text-decoration: none;
  }
}

.contacts {
  grid-column: 3;
	font-family: 'Cormorant Garamond', serif;
	font-size: 3.5vh;
	text-align: right;
  color: #eee;
  padding-top: 30px;
  padding-right: 5vw;
  a, a:visited {
    color: #eee;
    text-decoration: none;
  }
}